* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

dialog {
  border: none;
  background-color: white;
  padding: 0.5rem;
  width: 24rem;
  margin-top: 2rem;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.alert_box,
.top_side,
.alert_content {
  display: flex;
  align-items: center;
}
.alert_box,
.alert_content {
  justify-content: center;
  flex-direction: column;
  padding-top: 1.3rem;
}

.alert_content {
  text-align: center;
  font-size: 1.2rem;
}
.top_side {
  flex-direction: row;
  justify-content: end;
  padding: 0 0.3rem;
}
.top_side span,
span.success_icon {
  color: green;
}

button#close_modal {
  color: red;
  border: none;
  background: transparent;
  font-size: 0.9rem;
  font-weight: bold;
}

button#close_modal:hover {
  background-color: rgb(235, 186, 186);
  cursor: pointer;
}

.click_btn, 
#modal_btn {
  border: none;
  outline: none;
  color: white;
  background-color: green;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.click_btn:hover {
  background-color: rgb(3, 163, 3);
  cursor: pointer;
}

dialog::backdrop {
  background: rgb(242, 242, 255);
  background: linear-gradient(
    90deg,
    rgba(242, 242, 255, 1) 0%,
    rgba(255, 243, 243, 1) 50%,
    rgba(255, 247, 235, 1) 100%
  );
}
